* {
    margin: 0;
    padding: 0;
}

.index {
    background-image: url(../img/ross-128-b-2560x1440-planet-4k-16587.jpg);
    background-position: center;
    background-size: 140%;

}

.home-index {
    background-image: url(../img/fondo-espacio.jpg);

    .tabla {
        background-color: $secondary-color;
        border: 2px solid $terciary-color;
        border-radius: 7px;
        width: 35rem;
    }
}