.navbar {
    background-color: $primary-color;
    display: flex;
    
    .navbar-nav {

        .nav-link {
            color: $terciary-color;
        }
    }

    .avion {
        width: 1.5rem;
        color: red;
        margin-top: 0.5rem;
    }
}